.App {
  text-align: center;
}

body {
  background-color: rgb(225, 225, 225);

  margin: 0;
  padding: 0; 
}

.site-header {
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  position: relative;

  top: 0;
  left: 0;

  margin: 0;
  padding: 0;

  margin-bottom: 5vh; /* !!! */
}

.site-header p {
  font-family: JetBrains Mono;
  font-size: 32px;

  margin: 0;
  padding: 0;
}

.button {
  position: relative;

  background-color: white; 
  color: rgb(122, 163, 238); 

  border: none;

  margin: 5px;    
  padding: 10px 20px; 
  cursor: pointer; 
  border-radius: 5px; 
}

.button:hover {
  background-color: rgb(136, 171, 237); 
  color: white;
}

.card {
  background-color: white;
  position: relative;
  /* display: flex;
  flex-direction: row; */
  display: inline-grid;

  border-radius: 5px;
  width: fit-content;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

  margin: 3vh;
  padding: 5px;
}

.card:hover {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.title {
  font-family: JetBrains Mono;
  font-weight: bold;
  font-size: 18px;

  width: 30vh;
  height: 4vh;

  resize: none;
  outline: none;
  border: none; 
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  margin: 0;
  padding: 3px;   
}

.description {
  font-family: JetBrains Mono;
  font-size: 14px;

  width: 30vh;
  height: 20vh;

  resize: none;
  outline: none;
  border: none; 

  margin: 0;
  padding: 5px; 
}

span {
  color: red;
}